

<form method="POST" action="/articles/<%= @article.id %>">
	<input id="hidden" type="hidden" value="PATCH" name="_method" >
	<ul>
		<li>
		<label name="title">Title: </label>
		<input id="title" name="title" type="text" value="<%= @article.title %>" autocomplete="off"></input>
		</li>

		<li>
		<label name="content">Content: </label>
		<input id="content" name="content" type="text" value="<%= @article.content %>"autocomplete="off"></input>
		</li>
	</ul>

	<input type="submit"></input>


	

</form>