<h1>Create a new article:</h1>
<form action="/articles" method="post">
  <ul>
    <li>
    <label for="title">Title:</label>
    <input id="title" name="title"></input>
    </li>
    <li>
    <label for="content">Content:</label>
    <input id="content" name="content"></input>
    </li>
    <input type="submit"></input>
  </ul>
</form>
