<form action="/articles" method="post">
  <ul>

    <li>
      <label for="title">my favorite article</label>
      <input id="title" type="text" name="title" />
    </li>

    <li>
      <label for="content">content!!!!</label>
      <textarea id="content" type="text" name="content">
      </textarea>
    </li>

  </ul>
  <input type="submit" />
</form>
