<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>N E W</title>
  </head>
  <body>
    <form class="" action="/articles" method="post">
      <p>Title: <input type="text" name="title" value=""></p>
      <p>Content: <input type="text" name="content" value=""></p>
      <input type="submit" name="" value="OMG WAFFLES!">
    </form>

  </body>
</html>
