<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Article</title>
  </head>
  <body>
    <h1>Post a New Article</h1>
    <form action="/articles" method="POST">
      <ul>
        <li>
          <label for="title">Article Title:</label>
          <input id="title" type="text" name="title"></input>
        </li>
        <li>
          <label for="content">Article Content:</label>
          <input id="content" type="text" name="content"></input>
        </li>

      </ul>
<input type="submit">
    </form>
  </body>
</html>
