<form action="/articles" method="post">
    <label>Article Name: </label>
    <input id="title" type="text" name="article[title]"/>
    <label>Article Content: </label>
    <input id="content" type="text" name="article[content]"/>
    <input type="submit" value="SUBMIT"/>
</form>
