    <p>Article Name:</p>
    <li><%= @article.title %></li>
    <p>Article Content:</p>
    <li><%= @article.content %></li>

<form action= "/articles/<%= @article.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <input type="submit" value="delete">
</form>
